.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {
    //display: none; //Esta propiedad quita visualmente el elemento pero impide crear algún tipo de animación
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        visibility: visible;
        text-align: center;
        @include tablet {
            margin-right: 2rem;
        }
    }
    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
        height: auto;
        a:hover {
            color: $verde;
        }
    }

    

    
}

.mostrar {
    //display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
    @include tablet {
        display: flex;
    }
    height: auto;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
            filter: invert(0%);
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.superior {
    display: block;
    //justify-items: center;
    text-align: center;
    font-size: 1.8rem;
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-start;
    }
    a {
        margin-right: 2rem;
        align-items: flex-start;
        background-color: transparent;
        text-transform:capitalize;
    }

    .cie {
        color: $rojoCie;
    }

    .adm {
        color: $verde;
    }
    .ini {
        color: $verdeIni;
        
    }

    
    
    //background-color: $blanco;
}

.ancho {
    border: none;
    border-top: 1px solid #000;
}


.admTitulo{
    color: $verde;
    font-weight: bold;
    // &::after {
    //     content: '';
    //     display: block;
    //     margin: auto;
    //     width: 15rem;
    //     height: .5rem;
    //     background-color: $negro;
    //     margin-top: 1rem;
    // }
}
